p {
    font-size: x-large;
}

h1 {
    font-size: xx-large;
}

.computer-element {
    background-color: rgb(212, 236, 240);
    border-width: 1;
    border: dashed darkslateblue;
    padding: 1%;
    margin: 1%;
}

.computer-devices-el {
    background-color: rgb(166, 187, 190);
}

.compuer-device-el {
    margin: 1%;
    background-color: rgb(146, 167, 170);
}

.delete-device-button {
    margin: 1%;
    padding: 1%;
    background-color: lightcoral;
    font-size: large;
}

.add-device-button {
    margin: 1%;
    padding: 1%;
    background-color: rgb(128, 240, 162);
    font-size: large;
}

.computer-disassable-btn{
    margin: 1%;
    padding: 1%;
    background-color: burlywood;
    font-size: large;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.disassemble-block {
    display: flex;
    justify-content: space-around;
}

.all-computers {

    width: 40%;
}

.add-computer{

    width: 55%;
}

.computers-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.update-computers-btn{
    background-color: antiquewhite;
    border-color: rgb(247, 216, 169);
    border-style: solid;
    border-width: 3px;
    padding: 10px 15px;
    font-size: large;
}