
p {
    font-size: x-large;
}

h1 {
    font-size: xx-large;
}

.computer-element {
    background-color: rgb(212, 236, 240);
    border-width: 1;
    border: dashed darkslateblue;
    padding: 1%;
    margin: 1%;
    transition: transform 0.3s, background-color 0.3s; /* Плавный переход для компонента компа */
}

.computer-element:hover {
    transform: scale(1.03); 
}

.computer-devices-el {
    background-color: rgb(166, 187, 190);
}

.compuer-device-el {
    margin: 1%;
    background-color: rgb(146, 167, 170);
    transition: transform 0.3s, background-color 0.3s; /* Плавный переход для устройства */
}

.compuer-device-el:hover {
    transform: scale(1.05); 
    background-color: rgb(104, 126, 129);
    transform: rotate(2deg);
}

.delete-device-button {
    margin: 1%;
    padding: 1%;
    background-color: lightcoral;
    font-size: large;
    transition: transform 0.3s, background-color 0.3s; /* Плавный переход для кнопки удаления */
}

.delete-device-button:hover {
    transform: scale(1.1); 
    background-color: rgb(204, 110, 110);
    transform: rotate(-2deg);
}

.add-device-button {
    margin: 1%;
    padding: 1%;
    background-color: rgb(128, 240, 162);
    font-size: large;
    transition: transform 0.3s, background-color 0.3s; /* Добавление переключений */
}

.add-device-button:hover {
    transform: scale(1.05); 
    background-color: rgb(104, 240, 130); /* Изменяем цвет при наведении */
    transform: rotate(-2deg);
}

.computer-disassable-btn {
    margin: 1%;
    padding: 1%;
    background-color: burlywood;
    font-size: large;
    transition: transform 0.3s, background-color 0.3s; /* Добавлено */
}

.computer-disassable-btn:hover {
    transform: scale(1.05); 
    background-color: rgb(222, 185, 135); /* Изменяем цвет при наведении */
    transform: rotate(-2deg);
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.disassemble-block {
    display: flex;
    justify-content: space-around;
}

.all-computers {
    width: 40%;
}

.add-computer {
    width: 55%;
}

.computers-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.base-button {
    background-color: antiquewhite;
    border-color: rgb(247, 216, 169);
    border-style: solid;
    border-width: 3px;
    padding: 10px 15px;
    font-size: large;
    margin: 5px;
    transition: transform 0.3s, background-color 0.3s; /* Плавный переход */
}

.base-button:hover {
    transform: scale(1.1); /* Эффект изменения размера при наведении */
    background-color: rgb(201, 185, 136); /* Изменение цвета при наведении */
    transform: rotate(-2deg);
}


.title {
    text-align: left;
    margin-bottom: 20px;
}

.title h2 {
    font-size: 2.5em; /* Увеличенный размер шрифта для заголовка */
    color: #e74c3c; /* Яркий красный цвет для заголовка */
    transition: color 0.3s;
}

.title h2:hover {
    color: #3498db; /* Изменение цвета при наведении на яркий синий */
}

.responsible-employee-el {
    background-color: rgb(218, 247, 171);
    border-color: rgb(152, 206, 128);
    border-style: solid;
    border-width: 3px;
    padding: 10px 15px;
    font-size: large;
    margin: 0;
    transition: transform 0.3s, background-color 0.3s;
}

.responsible-employee-el:hover {
    background-color: rgb(179, 206, 137);
    border-color: rgb(114, 156, 95);
    transform: rotate(2deg);
}