<div class="device-form">
    <div class="all-devices">
        <div class="title">
        <h2>Устройства</h2>
    </div>
    
    <label>
        <input type="checkbox" value="Только свободные устройства" [(ngModel)]="freeDevices" (change)="findAllDevices()"> Только свободные устройства
    </label>

    <button class="base-button" (click)="findAllDevices()">Обновить</button>
    <button class="base-button" routerLink="/computers">Компьютеры</button>
    <button routerLink="/employees" class="base-button">Сотрудники</button>
    <button routerLink="/devices/logs" class="base-button">Логи устройств</button>
    <button routerLink="/employees/logs" class="base-button">Логи сотрудников</button>

    <div class="device-list">
        <div *ngFor="let device of devices" class="device-card">
          <h3>{{ device.title }}</h3>
          <p>Тип: {{ device.type.code }} ({{device.type.group}})</p>
          <p>Цена: {{ device.price | currency }}</p>
          <p>Номер: {{ device.number }}</p>
          <h3 *ngIf="device.computerId != undefined" class="not-free-device">УСТРОЙСТВО УСТАНОВЛЕНО В КОМПЬЮТЕРЕ С ID={{device.computerId}}</h3>
        </div>
      </div>
    </div>
    <div class="add-new-device">
        <app-add-new-device></app-add-new-device>
    </div>
</div>